//格栅系统
/**
 * 创建container的mixin
 *
 */
@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right:  $padding-x;
    padding-left:  $padding-x;
    margin-right: auto;
    margin-left: auto;
}

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
    //%开头类似于mixin，但是不能带参数
    %grid-column {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: ($gutter / 2);
        padding-left: ($gutter / 2);
    }
    
    @each $breakpoint in map-keys($breakpoints) {

        @for $i from 1 through $columns {
            .col-#{$i} {
                @extend %grid-column;
            }
        }
    }
}