// 导航栏样式

.navbar {
    background-color: $navbar-bg;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: $navbar-padding-y $navbar-padding-x;

    %container-flex-properties {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        // justify-content: space-between;
    }

    > .container,
    > .container-fluid {
        @extend %container-flex-properties;
    }
}

.navbar-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 300;
}

.navbar-brand {
    display: flex;
    white-space: nowrap;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.navbar-menu-container {
    display: flex;
    flex-basis: auto;

    .navbar-menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;    
    }
}

