// 导航栏样式

.navbar {
    background-color: $navbar-bg;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    %container-flex-properties {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    > .container,
    > .container-fluid {
        @extend %container-flex-properties;
    }
}

.navbar-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
}

.navbar-brand {
    white-space: nowrap;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}