// 导航栏样式
.navbar {
    background-color: $navbar-bg;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: $navbar-min-height;
    padding: $navbar-padding-y $navbar-padding-x;

    %container-flex-properties {
        display: flex;     //如果父容器为block，子容器可以占满整个列宽
        flex-wrap: inherit;
        align-items: center;
        min-height: $navbar-min-height;
        // justify-content: space-between;
    }

    > .container,
    > .container-fluid {
        @extend %container-flex-properties;
    }
}

.navbar-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 300;
}

.navbar-brand {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    white-space: nowrap;
    justify-content: space-between;
    min-height: $navbar-min-height;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    .navbar-title {
        cursor: pointer;
        min-height: $navbar-min-height;
        line-height: $navbar-min-height;
    }

    //navbar menu隐藏后显示toggler
    .navbar-toggler {
        color: #0a0a0a;
        display: none;
        position: relative;
        // border: 1px solid #000;
        margin-left: auto;

        // height:3.25rem;
        width: 3.25rem;

        &:hover {
            background-color: rgba(0,0,0,0.05);
        }

        span {
            display: block;
            background-color: rgba(0,0,0,0.2);
            width: 16px;
            height: 1px;
            position: absolute;
            left: calc(50% - 8px);

            &:nth-child(1) {
                top: calc(50% - 6px);
            }

            &:nth-child(2) {
                top: calc(50% - 1px);
            }

            &:nth-child(3) {
                top: calc(50% + 4px);
            }
        }
    }
}

.navbar-menu-container {
    display: flex;
    flex-basis: auto;
    min-height: $navbar-min-height;
    line-height: $navbar-min-height;

    .navbar-menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;    
    }
}

//支持根据浏览器的尺寸动态隐藏常规菜单，显示移动端菜单
@each $grid-breakpoint in map-keys($grid-breakpoints) {
    @if $grid-breakpoint == $navbar-collapse {
        $min: breakpoint-min($navbar-collapse, $grid-breakpoints);
        // @debug $min;
        @media(max-width: $min){
            .navbar > .container {
                display: block;
            }

            .navbar-menu-collapse {
                display: none;
            }

            .navbar-brand .navbar-toggler {
                display: block;
            }
        }    
    }
}

