//将CSS在浏览器间的差异消除

/**
 *
 *
 **/
@mixin reset-text {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    // white-space: nowrap;     //这个会导致文字不折行
    line-break: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// root大小影响rem的大小
:root {
    font-size: $font-size-root;
}

html {
    background-color: $body-bg-color;
}

// Body 原素重新设置样式
//
// 1. 移除所有浏览器边距
// 2. 在移动设备上如手机和平板横屏会导致字体变大，-webkit-text-size-adjust: 100%可以禁止字体变化。https://www.jianshu.com/p/9fad261dd3e1
body {
    margin:0;   //1
    color: $body-color;
    background-color: $body-bg-color;
    -webkit-text-size-adjust: 100%; // 2
    -webkit-tap-highlight-color: rgba($black, 0); // 4
    @include reset-text;
}

%heading {
    margin-top: $headings-margin-top;
    margin-bottom: $headings-margin-bottom;
    line-height: $headings-line-height;
    font-weight: $headings-font-weight;
    color: $headings-color;
}

h1 {
    @extend %heading;
}

h2 {
    @extend %heading;
}

h3 {
    @extend %heading;
}

h4 {
    @extend %heading;
}

h5 {
    @extend %heading;
}

h6 {
    @extend %heading;
}

p {
    margin-top:0;
    margin-bottom: $p-margin-bottom;
}

// 链接设置
a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

// 列表设置
ol, 
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top:0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

//代码块样式设置
pre,
code,
kbd,
samp {
    font-family: $font-family-monospace;
    @include font-size(1em);
}

blockquote {
    margin: 1rem 0 1rem;
}

figure {
    margin: 1rem 0;
    padding: 16px;
    background-color: $figure-bg-color;
    overflow: auto;
    border-radius: 3px;
}