//CSS中所有使用到的参数

//字体样式
$font-faily-sans-serif:     -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:     Monaco, Consolas, monospace !default;
$font-family-base:          $font-faily-sans-serif !default;

//字体尺寸
$font-size-root:            1rem;
$font-size-base:            1rem !default;

$h1-font-size:              $font-size-base * 2.5 !default;
$h2-font-size:              $font-size-base * 2 !default;
$h3-font-size:              $font-size-base * 1.75 !default;
$h4-font-size:              $font-size-base * 1.5 !default;
$h5-font-size:              $font-size-base * 1.25 !default;
$h6-font-size:              $font-size-base !default;

$font-weight-normal:        400;

$line-height-base:          1.5;

//Body 参数
$body-color:              #000; 
$body-bg-color:           #fff;

$black: #000;


//Link 参数
$link-color:              #007bff;
$link-decoration:           none;
$link-hover-color:        rgb(41, 137, 248);
$link-hover-decoration:     underline;

//标题参数
$headings-font-weight:      1;
$headings-line-height:      1.5;
$headings-color:          #000;

//各元素的下边距
$headings-margin-bottom:    0;
$p-margin-bottom:           0;

//格栅系统参数
$enable-grid-classes:       true !default;

$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-row-columns:          6 !default;

$container-padding-x: $grid-gutter-width / 2 !default;

// 页面布局发生响应式变化的边界
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
 ) !default;

// 定义不同尺寸下 .container 的宽度
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;

//临时区域，暂时定义一个mixin，后续研究twitter的rfs responsive font size
@mixin font-size($property) {
    font-size: $property;
}