@import "rosefocus";

/**
 * 用户样式开始位置
 * 
 */ 

$blog-header-color : #000;
$blog-footer-bg: #38383a;
$blog-footer-color: #fff;

html, body {
    font-family: PingFangSC-Regular,"Microsoft Yahei-Regular","Microsoft Yahei";
    font-size: 16px;
    color: #3a3a3a;
    letter-spacing: 0;
    text-align: justify;
    line-height: 27px;
    background-color: #3f3f3f 0.05;
}

.blog-header-container {
    border-bottom: 1px solid #ccc;
}

.blog-header {
    padding: 1em 0 1em 0;
    height: auto; 

    .blog-header-logo {
       color: $blog-header-color;
    }

    ul.blog-header-menu {
       list-style-type: none;
       display: flex;
       justify-content: flex-end;
    }
}

.blog-content {
    // display: flex;
    padding-top: 4rem;
    flex-direction: row;

    .blog-main-content {
        // min-height: 800px;

        .blog-post-lists {
            // display: flex;
            // border: 1px solid #000;

            .blog-post {
                display: block;
                border-bottom:1px solid #ddd;
                border-top:1px solid #fff;
                padding: 2rem 0;

                &:nth-last-child(1) {
                    border-bottom: 1px solid #fff;
                }

                > h1 {
                    color: #333;
                    font-size: 2rem;
                    font-weight: 300;
                    line-height: 2.5rem;
                    margin-bottom: 1.5rem;
                }

                .blog-post-desc {
                    color: #444;
                    word-wrap: break-word;
                    font-size: 1rem;
                    line-height: 1.8;
                }
            }

            .page-nav {
                text-align: center;
                margin: 1rem 0;

                span, a {
                    border-radius: 3px;
                    display: inline-block;
                    padding: 6px 12px;
                }
            }
        }
        
        .blog-post-detail {

            .blog-post-title h1 {
                font-size: 2rem;
                font-weight: 300;
                color: #333;
                line-height: 2rem;
                margin-bottom: 1rem;
            }

            .blog-post-meta {
                border-bottom: 1px solid #ccc;
                margin-bottom: 1rem;
                line-height: 2rem;
            }

            img {
                display: block;
                width: auto;
                max-width: 100%;
                margin:1rem auto;
            }

            .blog-post-footer {
                text-align: center;
            }

            .blog-post-content h2 {
                min-height: 32px;
                line-height: 28px;
                color: rgb(0,143,245);
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-color: rgb(0,143,245);
                font-size: 22px;
                margin: 2em auto;
                text-align: center;
                width: 70%;
                padding: 0.5em 0;
            }
        }

        .blog-about {
            .blog-about-title {

            }

            .blog-about-content {
                
            }
        }

        .blog-sidebar {
            display: flex;
            flex-direction: column;
            // border: 1px solid #000;

            .blog-wechat {
                padding: 1rem 0 0.5rem;
                width: 100%;
                max-width: 100%;

                img {
                    max-width: 100%;
                    width:auto;
                    
                }
            }

            .blog-profile {
                width: 100%;
                border:1px solid #e5e8ed;
                box-shadow: 0 2px 4px 0 rgba(3,27,78,.06);
                padding: 1rem;
                margin-bottom: 1.5rem;
                
                .author-img {
                    display: flex;
                    justify-content: center;

                    a {
                        // border: 1px solid #000;
            			max-width: 100%;
                        width: atuo;
                        height: 200px;
                        display:block;

                        img {
			                max-width: 100%;
                            width: auto;
                            height: 200px;
                            // border-radius: 72.5px;
                        }
                    }
                }

                .author-desc {
                    text-align: center;
                }
            }

            .blog-ad {
                width: 100%;
            }
    
        }

    }
    
    .blog-footer {
        display: flex;
        padding: 1em;
        background-color: $blog-footer-bg;
        color: $blog-footer-color;
    }
}

// 这以下都是测试代码 =====================


// 这以上都是测试代码 =====================


/*-- 中型的显示屏幕 --*/
@media all and (max-width:800px) {
    nav {
        justify-content: space-around;
    }
}

/*-- 小型屏幕 --*/
@media all and (max-width: 500px){
    nav {
        flex-direction: column;
    }
}

div.fl-container {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color:#000;
    align-content: flex-end;
}

div.fl-container .fl-m {
    border:1px solid #000;
    background-color: #006633;
    margin: 1em;
    width: 100px;
    height: auto;
    // flex-grow: 1;
}

div.fl-container .fl-m2 {
    flex-grow: -0.5;
}

#top-menu {
    // background-color: $nav-color;
}

foot {
    margin-top: 10px;

    a {
        color: #000;
    }

    a:hover {
        color: #006633;
    }
}

