@import "rosefocus";

/**
 * 用户样式开始位置
 * 
 */ 

$blog-header-color : #000;
$blog-footer-bg: #38383a;
$blog-footer-color: #fff;


.blog-header-container {
    border-bottom: 1px solid #ccc;
}

.blog-header {
    padding: 1em 0 1em 0;
    height: auto; 

    .blog-header-logo {
       color: $blog-header-color;
    }

    ul.blog-header-menu {
       list-style-type: none;
       display: flex;
       justify-content: flex-end;
    }
}

.blog-post-lists {
    display: flex;
    // border: 1px solid #000;
}

.blog-sidebar {
    display: flex;
    // border: 1px solid #000;
}

.blog-footer {
    display: flex;
    padding: 1em;
    background-color: $blog-footer-bg;
    color: $blog-footer-color;
}

$nav-color: green;
  
// nav {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: flex-end;
//     height: 50px;
//     background-color: $nav-color;
// }

@each $color in red, green, yellow, blue {
    .p_#{$color} {
        background-color: #{$color};
    }
}

// 这以下都是测试代码 =====================


// 这以上都是测试代码 =====================


/*-- 中型的显示屏幕 --*/
@media all and (max-width:800px) {
    nav {
        justify-content: space-around;
    }
}

/*-- 小型屏幕 --*/
@media all and (max-width: 500px){
    nav {
        flex-direction: column;
    }
}

div.fl-container {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color:#000;
    align-content: flex-end;
}

div.fl-container .fl-m {
    border:1px solid #000;
    background-color: #006633;
    margin: 1em;
    width: 100px;
    height: auto;
    // flex-grow: 1;
}

div.fl-container .fl-m2 {
    flex-grow: -0.5;
}

#top-menu {
    background-color: $nav-color;
}

foot {
    margin-top: 10px;

    a {
        color: #000;
    }

    a:hover {
        color: #006633;
    }
}

