<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">归档</a></li>
        </ul>
    </nav>

    <h1>Webpack!</h1>

    <div class="fl-m">A</div>
    <div class="fl-m">B</div>
    <div class="fl-m">C</div>
    <div class="fl-m">D</div>
    <div class="fl-m">E</div>
    <div class="fl-m">F</div>

    <div>
        <ul>
            <li><a href="#">Apple</a></li>
            <li><a href="#">Bnana</a></li>
            <li><a href="#">Cheery</a></li>
            <li><a href="#">Dragonfruit</a></li>
            <li><a href="#">Fruit</a></li>
        </ul>
    </div>
    <footer>This is footer</footer>
</body>
</html>