<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <nav class="navbar navbar-fixed-top bg-shadow">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-title" href="#">大江小浪</a>
                <a href="#" role="button" class="navbar-toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="navbar-menu-container navbar-menu-collapse">
                <ul class="navbar-menu">
                    <li>
                        <a href="#">首页</a>
                        <a href="#">关于</a>
                        <a href="#">归档</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container rosefocus-body" style="height:800px;">
            <div>
                <br />
            </div>
        
            <div class="row">
                <div class="blog-post-lists col-md-9 col-lg-9 col-xl-9 col-sm-12 col-xs-12">
                    Blog post list
                </div>
        
                <div class="blog-sidebar col-md-3 col-lg-3 col-xl-3 col-sm-12 col-xs-12">
                    Blog sidebar
                </div>    
            </div>    
        </div>

        
        <foot class="blog-footer">
            <div class="container">
                This is footer
            </div>
        </foot>
    </div>


</body>
</html>