<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <div class="container-fluid">
        <div class="blog-header-container">
            <nav class="blog-header container">
                <a class="blog-header-logo" href="javascript:void(0);">RoseFocus</a>
                <ul class="blog-header-menu">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">关于</a></li>
                    <li><a href="#">归档</a></li>
                </ul>
            </nav>    
        </div>

        <div class="container">
            <div>
                <br />
            </div>
        
            <div class="row">
                <div class="blog-post-lists col-md-9 col-lg-9 col-xl-9 col-sm-12 col-xs-12">
                    Blog post list
                </div>
        
                <div class="blog-sidebar col-md-3 col-lg-3 col-xl-3 col-sm-12 col-xs-12">
                    Blog sidebar
                </div>    
            </div>    
        </div>

        
        <foot class="blog-footer">
            <div class="container">
                This is footer
            </div>
        </foot>
    </div>


</body>
</html>