<nav class="navbar navbar-fixed-top bg-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-title" href="#">大江小浪</a>
            <a href="#" role="button" class="navbar-toggler">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu-container navbar-menu-collapse">
            <div class="navbar-menu">
                <a href="#">首页</a>
                <a href="#">关于</a>
                <a href="#">归档</a>
            </div>
        </div>
    </div>
</nav>
